$zindex-popover:                      1060;
$tooltip-bg:                          #fff;
$tooltip-max-width:                   380px;
$tooltip-offset:                       5px;
$tooltip-border-color:                rgba(0,0,0,.2);
$tooltip-title-bg:                    darken($tooltip-bg, 3%);
$tooltip-arrow-width:                 20px;
$tooltip-arrow-offset:                15px;
$tooltip-arrow-color:                 $tooltip-bg;
$tooltip-arrow-outer-width:           ($tooltip-arrow-width + 1);
$tooltip-arrow-outer-color:           fade_in($tooltip-border-color, 0.05);

.tooltip {
  position: absolute;
  z-index: 10000;
  // display: none;
  max-width: $tooltip-max-width;
  padding: 1px;
  background-color: $tooltip-bg;
  background-clip: padding-box;
  border: 1px solid $tooltip-border-color;
  opacity: 0;
  box-shadow: 2px 2px 10px 0 rgba(#000, .3);

  // Offset the popover to account for the popover arrow
  &.tether-element-attached-bottom.tether-target-attached-top  {
    margin-bottom: ($tooltip-arrow-width + $tooltip-offset);
    margin-top: -($tooltip-arrow-width + $tooltip-offset);

    .arrow {
      border-bottom-width: 0;
      border-top-color: $tooltip-arrow-outer-color;
      bottom: -$tooltip-arrow-outer-width;
      &:after {
        content: "";
        bottom: 1px;
        margin-left: -$tooltip-arrow-width;
        border-bottom-width: 0;
        border-top-color: $tooltip-arrow-color;
      }
    }

    &.tooltip--tutorial {
      .arrow:after {
        border-top-color: #003d7c;
      }
    }
  }

  &.tether-element-attached-top.tether-target-attached-bottom   {
    margin-top: ($tooltip-arrow-width + $tooltip-offset);

    .arrow {
      border-top-width: 0;
      border-bottom-color: $tooltip-arrow-outer-color;
      top: -$tooltip-arrow-outer-width;
      &:after {
        content: "";
        top: 1px;
        margin-left: -$tooltip-arrow-width;
        border-top-width: 0;
        border-bottom-color: $tooltip-arrow-color;
      }
    }

    &.tooltip--tutorial {
      .arrow:after {
        border-bottom-color: color(brand-primary-dark);
      }
    }
  }

  &.tether-element-attached-right.tether-target-attached-left {
    margin-left: -($tooltip-arrow-width + $tooltip-offset);

    .arrow {
      right: -$tooltip-arrow-outer-width;
      border-right-width: 0;
      border-left-color: $tooltip-arrow-outer-color;
      &:after {
        content: " ";
        right: 1px;
        border-right-width: 0;
        border-left-color: $tooltip-arrow-color;
        bottom: -$tooltip-arrow-width;
      }
    }

    &.tooltip--tutorial {
      .arrow:after {
        border-left-color: #003d7c;
      }
    }
  }

  &.tether-element-attached-left.tether-target-attached-right {
    margin-left: ($tooltip-arrow-width + $tooltip-offset);

    .arrow {
      left: -$tooltip-arrow-outer-width;
      border-left-width: 0;
      border-right-color: $tooltip-arrow-outer-color;
      &:after {
        content: " ";
        left: 1px;
        bottom: -$tooltip-arrow-width;
        border-left-width: 0;
        border-right-color: $tooltip-arrow-color;
      }
    }

    &.tooltip--tutorial {
      .arrow:after {
        border-right-color: #003d7c;
      }
    }
  }

  &__content {
    padding: 16px;

    p, ul {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .arrow {
    border-width: $tooltip-arrow-outer-width;

    &,
    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }

    &:after {
      border-width: $tooltip-arrow-width;
      content: "";
    }
  }



  &.tether-target-attached-top.tether-target-attached-middle,
  &.tether-target-attached-bottom.tether-target-attached-middle {
    .arrow {
      left: 50%;
      margin-left: -$tooltip-arrow-outer-width;
    }
  }

  &.tether-element-attached-left.tether-target-attached-right,
  &.tether-element-attached-right.tether-target-attached-left {
    &.tether-element-attached-top {
      margin-top: -$tooltip-arrow-offset;
      .arrow {
        top: 15px;
      }
    }

    &.tether-element-attached-bottom {
      margin-top: $tooltip-arrow-offset;
      .arrow {
        top: auto;
        bottom: 15px;
      }
    }
  }

  &.tether-element-attached-top.tether-target-attached-bottom,
  &.tether-element-attached-bottom.tether-target-attached-top {
    &.tether-element-attached-right {
      .arrow {
        left: auto;
        right: 15px;
      }
    }

    &.tether-element-attached-left {
      .arrow {
        left: 15px;
      }
    }
  }

  &--tutorial {
    background: #003d7c;

    &, h1, .h1, h2, .h2, h3, .h2, h4, .h4, h5, .h5, .link-btn {
      color: #fff;
    }
  }
}
